Jonas Juselius <jonas.juselius@uit.no>
Roberto Di Remigio <roberto.diremigio@gmail.com> <roberto.d.remigio@uit.no>
Luca Frediani <luca.frediani@uit.no> luca <luca.frediani@uit.no>
Radovan Bast <radovan.bast@gmail.com> <bast@users.noreply.github.com>
Ville Weijo <ville.weijo@uit.no>
